


.container-header{
    width: 100%;
    height: 100px;
    background-color: white;
    
}

figure > img  {
    margin-top: 20px;
    display: inline-block;
    
}

figure > span{
    font-size: 70px;
    font-weight: bold;
    font-family:'Dongle', sans-serif; 
    vertical-align: top;
}

.container-main{
    width:100%;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.212);;
    

    
}

.container-task{
    width: 1100px;
    height: 1000px;
    display: inline-block;
    background-color: white;
    margin-top: 40px;
    margin-left: 700px;
    borde
    
    
    
}

div > button{
    margin-top: 30px;
    position: relative;
    left: 60px;
    bottom:10px;
    
}

.container-button{
    border-bottom: 1px solid rgba(128, 128, 128, 0.212);

}

.button-1{
    
color: white;
background-color: #0099CC;
border: 1px solid #0099CC;
border-radius: 5px;
text-transform: uppercase;
font-size: 18px;
font-weight: 600;
font-family:'Dongle', sans-serif;  

}
 .button-2{
    color: lightgrey;
    background-color: white;
    border: 1px solid  #e0e3e6 ;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    font-family:'Dongle', sans-serif;
    
    
 }

 .container-mix{
     margin-left: 70px;
     
     
 }

 .arrow{
    font-size:20px ;
    font-family:'Dongle', sans-serif ;
 }

 h2{
     font-size: 50px;
     font-family:'Dongle', sans-serif ;
     
     
 }

 
 .subtext{
    width: 500px;
    height: 50px;
    position: relative;
    bottom: 50px;
    
 }

 .check{
     color: green;
     text-align: center;
     border: 1px solid green;
     border-radius: 50%;
     display: inline-block;
     padding: 0;
     width: 20px;
     height: 20px;    
     
      
    
    
      
     
 }

 .cross{
    padding: 4px;
    color: red;
    text-align: center;
    border: 1px solid red;
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    width: 20px;
    height: 20px;   

 }
 
 .info-editorial{
    color: white;
    background-color: #0099CC;
    border-radius: 50px;
    padding: 5px 8px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    font-family:'Dongle', sans-serif; 

 }

 .info-goals{
    color: white;
    background-color: #9c72e4;
    border-radius: 50px;
    padding: 5px 8px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    font-family:'Dongle', sans-serif; 

 }

 .info-recruting{
    color: white;
    background-color: #b0c926;
    padding: 5px 10px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    font-family:'Dongle', sans-serif; 

 }
 .info-mobile{
    color: white;
    background-color: #f29e33;
    padding: 5px 15px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    font-family:'Dongle', sans-serif; 

 }

 .info-website{
    color: white;
    background-color: #d863a1;
    padding: 5px 15px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    font-family:'Dongle', sans-serif; 

 }
 .info-sales{
    color: white;
    background-color: rgb(39, 136, 39);
    padding: 5px 15px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    font-family:'Dongle', sans-serif; 
 }


 .couple{
     position: relative;
     bottom: 100px;
 }
 .couple2{
    position: relative;
    bottom: 200px;
}

 